// text colors
.text-red {
    color: #d9534f;
}

.text-green {
    color: #5cb85c;
}

.text-bright-gray {
    color: #ccc;
}

.text-dark-gray {
    color: #333;
}

.badge-danger {
    background-color: #c12e2a
}

.badge-sup {
    display: inline;
    font-size: 5px;
    font-weight: normal;
    padding: 1px 5px;
}

.navbar-brand>img.nav-brand-image {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.gurus>div {
    display: inline-block;
    padding: 3px 15px 3px 5px;
    margin: 3px;
    button.close {
        left: 10px;
        top: -3px;
    }
}

.bg-light-gray {
    background-color: #F9F9F9;
}

h5.info-bar {
    padding-left: 5px;
    padding-right: 5px;
    * {
        line-height: 20px;
    }
    form {
        display: inline-block;
        margin-top: 5px;
        button[type=submit].btn {
            margin: 0 5px;
            padding: 0 10px;
            i {
                padding: 0 3px;
            }
        }
        .btn-xs {
            margin: 0 5px;
            padding: 0 10px;
            i {
                padding: 0 3px;
            }
        }
    }
}

p.thread-title {
    margin: 0;
    padding: 0;
    border: 0;
}

.text-thread-title {
    color: #000;
    padding-left: 15px;
}

.post-indicator {
    display: inline-block;
}

.post-indicator,
.indicator {
    form {
        display: inline-block;
        input[type=button].nocolor,
        button.nocolor {
            text-shadow: 1px 1px 1px #444;
            background-color: inherit;
            color: #333;
            border: 0;
            padding: 0;
            margin: 0 5px;
        }
    }
}

code[class*=language-],
pre[class*=language-] {
    font-family: monospace;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: inherit;
}
