<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微信配置</div>

  <!-- List group -->
  <div class="list-group">
    <a class="list-group-item app" href="/v2/settings/user?type=app">app基本设置</a> 
    <a class="list-group-item message" href="/v2/settings/user?type=message">消息配置</a> 
    <a class="list-group-item oauth" href="/v2/settings/user?type=oauth">Oauth配置</a> 
    <a class="list-group-item urls" href="/v2/settings/user?type=urls">URLs配置</a> 
    <a class="list-group-item server" href="/v2/settings/user?type=server">服务器配置</a> 
    <a class="list-group-item merchant" href="/v2/settings/user?type=merchant">商户信息配置</a> 
    <a class="list-group-item certificate" href="/v2/settings/user?type=certificate">支付证书配置</a> 
    {#<a class="list-group-item pages" href="/v2/settings/user?type=pages">微信内置URL设置</a> #}
  </div>
  <script>
  $('.{{type}}').addClass('active');
  </script>
</div>